/* Mulish font from google */
<style>@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Merriweather:wght@400;700;900&family=Mulish:wght@400;600;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

</style>* {
    font-family: 'Mulish', sans-serif;
}

/* header styles */
header {
    background: #FFF;
    padding: 50px 130px;
}

.travel-icon {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}

.travel-icon img {
    width: 48px;
    height: 56.008px;
    margin-top: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    font-size: 2rem;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 400;
    font-size: 1rem;
    gap: 44px;
}

nav li a {
    text-decoration: none;
    color: #424247
}

/* Header card section */
.head-background {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    width: 100%;
    height: 500px;
}

.head-container {
    color: #FFFFFF;
    text-align: center;
    padding-top: 50px;

}

.explore-title {
    font-size: 4rem;
    font-weight: 800;
}

.explore-description-title {}

.main-head-card {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    align-items: flex-start;
    text-align: center;
    gap: 24px;


}

.card-1,
.card-2,
.card-3 {
    color: rgba(19, 19, 24, 0.50);
    background: #FFF;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
}

.card-4 {
    border-radius: 8px;
    background: #FF5400;
    font-size: 1rem;
    font-weight: 400;
}

/* main section style */
/*tour section */
main {
    background: #FFF;
}

.popular-tours {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 130px;
    gap: 70px;
}

.tours-pic img {
    width: 100%;
    height: 90%px;
}

.tours-title {
    color: #131318;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

.tours-description,
.list-item {
    color: rgba(19, 19, 24, 0.70);
    font-size: .75rem;
    font-weight: 400;
    line-height: 26px;
}

.tours-last-description {
    color: #5A5A5D;
    font-size: .75rem;
    font-weight: 400;
    line-height: 26px;
}

.read-more {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: 0;
    color: #FFF;
    font-size: .75rem;
    font-weight: 800;
}

/* destination section */
.destination-container {
    text-align: center;

}

.destination-title {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
    padding-top: 20px;
}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}


.destination-img,
.destination-img2,
.destination-img3 {
    display: flex;
    border-radius: 16px;
    gap: 20px;
    position: relative;
}

.pic-1,
.pic-2 {
    width: 573px;
    height: 300px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 16px;
}

.pic-3 {
    width: 374px;
    height: 286px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    margin-top: 20px;
}

.pic-4 {
    width: 474px;
    height: 286px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    margin-top: 20px;
}

.pic-5 {
    width: 274px;
    height: 286px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    margin-top: 20px;
}

.pic-6 {
    width: 473px;
    height: 300px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    margin-top: 20px;
}

.pic-7 {
    width: 673px;
    height: 300px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    margin-top: 20px;
}

.choose {
    text-align: center;
    margin-top: 40px;
}

.choose-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 573px;
    height: 284px;
}

.choose-card1 {
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    border-radius: 16px;
}

.choose-card2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    border-radius: 16px;
}

.choose-card3 {
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 573px;
    height: 284px;
}

/* deals section */
.deals-container {
    text-align: center;
    gap: 20px;
}

.deals-back1,
.deals-back3 {
    background-image: url('../Images/Group\ 39.png');
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
    width: 90%;
    height: 100%;
    
}

.deals-back2 {
    background-image: url('../Images/Group\ 40.png');
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
    width: 90%;
    height: 100%;
}

.cart-1,
.cart-3 {
    border-radius: 16px;
    border: 2px solid #FFF;
    
}
.simple-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.simple-img img{
    width: 80%;
    height: 90%px;
}
.simple-button{
border-radius: 8px;
background: #FF5400;
border: 0;
color: #FFF;
font-family: Mulish;
font-size: 1rem;
font-weight: 800;
width: 124px;
height: 32px;
}

.daily{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.newslette{
    width: 1440px;
height: 6940px;
}
.form{

}
.last-img img{
    width: 70%;
    height: 80%px; 
}
.submit{
    border-radius: 8px;
background: #FF5400;
}
/* Footer style */
footer{
    background: rgba(19, 19, 24, 0.05);
}
.footer{
    text-align: center;
}
.footer-icon{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.foot-img img{
    width: 40px;
height: 46.673px;
flex-shrink: 0;
}
.footer-title{
    color:  #131318;
font-size: 2.75rem;
font-weight: 800;
}
.footer-description{
    color: #5A5A5D;
text-align: center;
font-size: 1rem;
font-weight: 400;
}
.icons-ul > ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}
.foot{
    text-align: center;
    font-size: .75rem;
}

/*Responsive for mobile */
@media screen and (max-width:600px) {
    header {
        padding: 20px;
    }

    nav,
    .travel-icon,
    .main-head-card ,
    .popular-tours,
    .destination-img,
.destination-img2,
.destination-img3,
.choose-card,
.simple-container,
.daily
     {
        flex-direction: column;
    }




    /* Tablet Devices */
@media screen and (min-width:600px) and (max-width:992px) {
    header {
        padding: 50px;
    }

    nav,
    .travel-icon,
    .main-head-card ,
    .popular-tours,
    .destination-img,
.destination-img2,
.destination-img3,
.choose-card,
.daily,
.simple-container 
     {
        flex-direction: column;
    }